@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-image: linear-gradient(to right, #feb65c , #df42b9);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.fa-brands{
    padding: 2px 10px;
    border-right: 2px solid white;
}
.header-icon{
    color: white;
}
.header-span{
    padding: 2px 10px;
    color: white;
}
.vertical-border{
    border-right: 2px solid white;
}

.btn{
    height: 35px;
  border-radius: 20px;
  width: 150px;
  background: none;
  outline: none;
  border: 1px solid white;
  color: white;
}

.navbar{
    background-color: white;
    box-shadow: 0px 0px 57px 0px rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: space-around;

}
.nav-container{
    display: flex;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    padding: 2px 10px;
    margin: 2px 10px;
    color: black;
}

.navbar ul{
    display: flex;
}
.nav-icon{
    position: absolute;
  right: 50px;
  background: black;
  color: white;
  height: 63px;
  width: 40px;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.nav-logo{
    height: 35px;
    margin-top: 15px;
    margin-left: 1rem;
}
.nav-list{
    margin: 22px 15rem;
}
.buy-btn{
    background-color: #feb65c;
    height: 64px;
    position: absolute;
    right: 10.5rem;
    top: 3rem;
    display: flex;
    align-items: center;
}

.main{
    background: url("./images/main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 55vh;
}

.main-border{
    border-left: 4px solid transparent;
    border-image: linear-gradient(to bottom, #feb65c, #de42ba);
    border-image-slice: 100%;
    border-image-slice: 1;
    position: absolute;
    height: 32vh;
    transform: translateY(54%);
    left: 95px;
}

.main-text{
    padding: 8rem 6rem;
    margin-left: 1rem;
}

.main-heading1{
    line-height: 50px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.main-heading2{
    line-height: 50px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
}

.main-paragraph1{
    line-height: 45px;
    color: white;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.main-paragraph2{
    line-height: 45px;
    color: white;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.main-btn1{
    height: 45px;
    width: 120px;
    border-radius: 40px;
    background: linear-gradient(to bottom, #feb65c, #de42ba);
    border: none;
    outline: none;
    color: white;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.main-btn2{
    height: 45px;
    width: 200px;
    border-radius: 40px;
    outline: none;
    background: none;
    border: 2px solid white;
    color: white;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    margin-left: 12px;
}

.landing-details{
    background-image: linear-gradient(to right, #feb65c , #df42b9);
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.landing-icon{
  font-size: 20px;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px 10px;
}

.row-details{
    display: flex;
}

.landing-heading{
    margin: 8px 25px;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    color: white;
}

.landing-col{
    color: white;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}

.about{
    background-image: url('./images/aboutbg.png');
    display: flex;
    align-items: center;
    margin: 2px 25px;
}

.about-details{
    padding: 2px 120px;
}

.about-heading{
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
}

.about-border{
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to bottom, #feb65c, #de42ba);
    border-image-slice: 100%;
    border-image-slice: 1;
    width: 70px;
}

.about-heading2{
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    line-height: 45px;
}

.about-paragraph{
    font-size: 15px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

.about-btn{
    height: 45px;
    width: 120px;
    border-radius: 40px;
    background: linear-gradient(to bottom, #feb65c, #de42ba);
    border: none;
    outline: none;
    color: white;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}
.image-border{
    border: 4px solid transparent;
    border-image: linear-gradient(to bottom, #feb65c, #de42ba);
    border-image-slice: 100%;
    border-image-slice: 1;
    height: 60px;
    margin-top: -60px;
}

.services{
    background-image: url("./images/servicesbg.png");
    margin: 2px 25px;
}

.services-heading{
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    margin: 2px 112px;
}

.services-border{
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to bottom, #feb65c, #de42ba);
    border-image-slice: 100%;
    border-image-slice: 1;
    width: 70px;
    margin-left: 112px;
}

.services-card{
    display: flex;
    margin: 20px 50px;
}
.services-card-details{
    position: absolute;
    background-color: white;
    bottom: -50rem;
    margin-left: 8.2rem;
    width: 15rem;
    height: 4rem;
    border-bottom-left-radius: 42px;
    border-top-left-radius: 42px;
    box-shadow: 0px 0px 57px 0px rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-icon{
    margin-right: 40px;
    color: white;
    z-index: 1;
    font-size: 15px;
    padding: 2px 18px;
}

.services-icon-background{
    background: linear-gradient(to bottom, #feb65c, #de42ba);
    height: 65px;
    width: 65px;
    border-radius: 50%;
    position: absolute;
    left: 0px;
}

.footer{
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    height: 70vh;
    padding: 5rem 2rem;
}
.footer-border{
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to bottom, #feb65c, #de42ba);
    border-image-slice: 100%;
    border-image-slice: 1;
    width: 70px;
}
.footer-heading{
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    line-height: 45px;
    color: white;
}
.footer-details-p{
    padding: 22px 12px;
    font-size: 20px;
    color: white;
    padding-right: 57px;
    width: 27rem;
    font-family: 'Roboto', sans-serif;;
}
.contact-details{
    display: flex;
    flex-direction: column;
}

.footer-i{
    color: white;
    font-size: 12px;
    padding-top: 40px;
}
.footer-span{
    font-size: 12px;
    padding: 2px 20px;
    font-family: 'Roboto', sans-serif;;
}

.footer-btn{
    height: 45px;
    width: 120px;
    border-radius: 40px;
    background: linear-gradient(to bottom, #feb65c, #de42ba);
    border: none;
    outline: none;
    color: white;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}

.footer-subscribe{
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    padding: 15px 5px;
}

.subscribe-letter-input{
    padding: 14px 50px;
    border: none;
    outline: none;
    border-radius: 30px;
}

.subscribe-letter-icon{
    background: linear-gradient(to bottom, #feb65c, #de42ba);
    height: 45px;
    width: 45px;
    position: absolute;
    right: 85px;
    border-radius: 0px 33px 33px 0;
    bottom: -65.2rem;
    color: white;
    text-align: center;
    padding-top: 12px;
}
.footer-bottom{
    background: linear-gradient(to bottom, #feb65c, #de42ba);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom-p{
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
